<h2> <%= pluralize(@comments.count, "Comment") %></h2>

<% @comments.each do |comment| %>

  <p><u><%= comment.user.name %></u> Published <%= long_ago(Time.now - comment.created_at)  %> ago</p>
  <p><%= comment.content %></p>

  <% if current_user == comment.user %>
    <div class="center">
    <%= button_to 'Delete', [comment.post, comment], method: :delete %>
    <%= button_to 'Edit', edit_post_comment_path(comment.post, comment), method: :get
     %>
    <br>
    </div>
  <% end %>
  <br>
<% end %>


<% if user_signed_in? %>
  <%= render 'comments/form' %>
<% end%>
