<% if user_signed_in? %>
  <%= render 'comments/form' %> <br>
  <% end%>
<h2> <%= pluralize(@comments.count, "Comment") %></h2>
<% @comments.reverse.each do |comment| %>

  <u><%= link_to comment.user.name, comment.user %></u>
  <p class="text-muted"> Published <%= long_ago(Time.now - comment.created_at)  %> ago</p>
  <p><%= comment.content %></p>

  <% if current_user == comment.user %>
    <div class="center">
    <a href=<%= edit_post_comment_path(comment.post, comment)%> class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Edit Post</a>
    <%= link_to "Delete", post_comment_path(comment), method: :delete %>
    <br>
    </div>
  <% end %>
  <br>
<% end %>
