<% @comments.each do |comment| %>

  <p><%= comment.user.name %></p>
  <p><%= comment.content %></p>

  <% if current_user == comment.user %>
    <%= link_to 'Delete', [comment.post, comment], method: :delete %>
    <%= link_to 'Edit', edit_post_comment_path(comment.post, comment) %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= render 'comments/form' %>
<% end%>
