<h1>Hello, <%= @user.name %></h1>

<p>Name: <%= @user.name %></p>

<p>Email adress: <%= @user.email %></p>

<% if @user.bio && @user.bio.length > 0 %>
<p>Bio: <%= @user.bio %></p>
<% else %>
<p> <%= link_to "Add a bio", edit_user_path(@user) %></p>
<% end %>

<% if @user.img_url && @user.img_url.length > 0 %>
<img src= "<%= @user.img_url %>" height = 150, width = 100>
<% end %>
<% if @user.img_url == 'https://www.idyllwildarts.org/wp-content/uploads/2016/09/blank-profile-picture.jpg' || nil %>
<p><%= link_to "Add a profile picture", edit_user_path(@user) %></p>
<% end %>

<br>


<%= link_to 'Published Posts', posts_path %>