<div class="container" style="margin-left: 35px; margin-top: 50px">
  <div class="row">
    <div class="col">
      <h1> <%= @post.title %></h1>
      <div class="row">
        <div class="col">
          <% @post.users.each do |u| %>
            <h2>By <%= link_to u.name, u %> </h2>
          <% end %> <br>
          <% if current_user %>
            <% if (@post.users.select {|p| p.id == current_user.id}).length > 0 %>
              <div class="row">
                <div class="col-sm-1.5" style="margin-left:15px"><a href=<%= edit_post_path%> class="btn btn-primary" role="button" aria-pressed="true">Edit Post</a></div>
              </div>
            <% end %>
          <% end %> <br>
        <div class="row">
          <div class="col-sm-9">
            <p> <%= @post.content %> </p>
          </div>
          <div class="col-sm-3">
            <%= render 'comments/comment' %>
        </div>
        </div>
          
      </div>
        
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', posts_path %>