<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      -->

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Off the Rails Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if !session[:user_id] %>
      <li class="nav-item active">
        <a class="nav-link" href=<%= posts_path %>>All Blog Posts <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= authors_path %>>All Authors <span class="sr-only"></span></a>
      </li>
    </ul>
    <nav class="navbar navbar-light bg-light">
      <%= form_tag '/login', method: 'post', :class => 'form-inline' do  %>
          <input class="form-control mr-sm-2" placeholder="Email" <%= text_field_tag :email%>
          <input class="form-control mr-sm-2" placeholder="Password"<%= password_field_tag :password%>
        <%= submit_tag "Login", class: "btn btn-outline-success my-2 my-sm-0" %>
      <%end%>
    </nav>

<!--
<%= form_tag("/login", method: :post) do %>
 <div>
  <%= label_tag :email %>
  <%= text_field_tag :email%>
 </div>
 <div>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
 </div>
  <%= submit_tag "Submit" %>
<%end%>
-->
  <% else %>
    <li class="nav-item active">
        <a class="nav-link" href=<%= posts_path %>>All Blog Posts <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= authors_path %>>All Authors <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= new_post_path %>>Write New Post <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= user_path(current_user.id) %>>My Account <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= logout_path %>>Logout <span class="sr-only"></span></a>
      </li>
      <% end %>
      </div>
</nav>

  <body>
    <%= yield %>
  </body>
</html>