<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      -->

<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <img src="app/assets/images/Pokt3Hfh_400x400.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Off the Rails Blog
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if !session[:user_id] %>
      <li class="nav-item active">
        <a class="nav-link" href=<%= posts_path %>>All Blog Posts <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= authors_path %>>All Authors <span class="sr-only"></span></a>
      </li>
    </ul>
    <nav class="navbar navbar-light bg-light">
      <%= form_tag '/login', method: 'post', :class => 'form-inline' do  %>
          <input class="form-control mr-sm-2" placeholder="Email" <%= text_field_tag :email%>
          <input class="form-control mr-sm-2" placeholder="Password"<%= password_field_tag :password%>
        <%= submit_tag "Login", class: "btn btn-outline-success my-2 my-sm-0" %>
      <%end%>
      </nav>
      <nav class="navbar navbar-light bg-light">
      <a href=<%= signup_path%> class="btn btn-primary" role="button" aria-pressed="true">Sign Up</a>
      </nav>
  <% else %>
    <li class="nav-item active">
        <a class="nav-link" href=<%= posts_path %>>All Blog Posts <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= authors_path %>>All Authors <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= new_post_path %>>Write New Post <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= user_path(current_user.id) %>>My Account <span class="sr-only"></span></a>
      </li>
      <li class="nav-right">
        <a class="nav-link"><%="Welcome, #{current_user.name}"%></a>
      </li>
      <a href=<%= logout_path%> class="btn btn-primary" role="button" aria-pressed="true">Log Out</a>
      <% end %>
</nav>

  <body>
    <%= yield %>
  </body>
</html>